/*Main navigation tab*/
body {
	background-color: #dbdbdb;
}

.header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: url('../img/header-bg.png');
	background-size: cover;
	color: white;
	background-repeat: no-repeat;
	border-bottom: 1px solid darkgrey;
	box-shadow: 12px 0 15px -4px grey, -12px 0 8px -4px grey;

}

.header-top img {
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 30px;
}

.header-bottom img{
	margin-left: 22px;
}

.header-top ul {
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: 38px;
	margin-bottom: 30px;
}

.header-bottom h1 {
	margin-top: 70px;
}

.header-bottom h4 {
	margin-top: 30px;
}

.header-top ul > li {
	display: inline;
	padding: 15px;
}

.header-top ul > li > a {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.header-top ul > li:hover {
	background-color: darkgrey;
	border-radius: 5px;
}

.custom-button {
	margin-top: 45px;
	padding: 10px;
	border-radius: 50px;
	background-color: transparent;
	border:1px solid darkgrey;
}

.first {
	margin-right: 15px;
}

button.custom-button:hover {
	color: red;
}

.left-align {
	margin-left: 25px;
}

.article-area {
	background: white;
	box-shadow: 12px 0 15px -4px grey, -12px 0 8px -4px grey;
}

.medalion {
	border-radius: 100%;
	margin-top: 17px;
}

.margin-top {
	margin-top: 25px;
}

.logerbutton {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 25px;
	margin-bottom: 10px;
}

.article {
	border-bottom: 1px solid darkgrey;
	min-height: 300px;
	margin-top: 25px;
}

.article-last {
	margin-top: 15px;
}

div.article-area > h1 {
	font-weight: bold;
}

.background {
	background-color: lightgray;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.round-tooltip {
    position: relative;
    height: 38px;
    width: 75px;
    padding: 0px;
    background-color: #1a1a1a;
    border-radius: 150px;
    top: 1px;
    left: 0px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    color: white;
    text-align: center;
}

.triangle-tooltip {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 14.7px;
	border-color: transparent transparent transparent #1a1a1a;
	
	/*Firefox*/
	border-style: inset;
	/*Better anti-aliasing rendering*/
	-webkit-transform:rotate(360deg);
	margin-left: 1px;
	margin-top: -11px;
}

.news-tooltip {
	margin-top: 25px;
	margin-left: 35px;
	padding-top: 30px;
}

.round-tooltip > p {
	padding-top: 9px;
}

.fragment {
	padding-left: 35px;
	padding-right: 35px;
}

.nopadding {
	padding: 0;
}

.footer {
	background-color: #2c251a;
	box-shadow: 12px 0 15px -4px grey, -12px 0 8px -4px grey;

}

ul.footer-menu > li {
	display: inline-block;
	padding: 10px;
	text-align: center;
}

div.footer img {
	display: inline-block;
	margin-left: 44%;
	padding: 50px;
	margin-right: 45%;
}

div.footer ul {
	display: inline;
	margin-left: 34%;
	margin-right: 35%;
}

div.footer ul > li > a {
	text-decoration: none;
	color: white;
	padding: 15px;
}

div.footer ul > li > a:hover {
	background: darkgrey;
	border-radius: 10px;
}

div.footer p {
	color: #51493e;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 35px;
}